In [18]:
# Dependencies and Setup
import pandas as pd

In [19]:
# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

In [20]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

In [21]:
# Combine the data into a single dataset.  
df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [48]:
# 1-  District Summary 
# Calculate the total number of schools
schools_total = school_data["school_name"].count()

 # Calculate the total number of students
student_total = df["student_name"].count()

    # Calculate the total budget
total_budget = school_data["budget"].sum()

    # Calculate the average math score 
avg_math = df["math_score"].mean()

    # Calculate the average reading score
avg_reading = df["reading_score"].mean()

# Math Passers
math_passers_df = df.loc[(df["math_score"] >= 70)]
passed_math = math_passers_df["student_name"].count()

# Reading Passers
reading_passers_df = df.loc[(df["reading_score"] >= 70)]
passed_reading = reading_passers_df["student_name"].count()

# Math and Reading Passers
math_and_reading_df = df.loc[(df["reading_score"] >= 70) & (df["math_score"] >=70 )]
passed_math_reading = math_and_reading_df["student_name"].count()

# create the summary dataframe
summary_df = pd.DataFrame({"Total Schools": [schools_total], "Total Students": [student_total], "Total Budget": [total_budget], "Average Math Score": [avg_math], "Average Reading Score": [avg_reading]})

# add the other columns
summary_df["% Passing Math"] = (passed_math / student_total)*100
summary_df["% Passing Reading"] = (passed_reading / student_total)*100
summary_df["% Overall Passing"] = (passed_math_reading/student_total)*100
summary_df

# Format columns

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [41]:
# 2- School Summary- START HERE
grouped_school_df = df.groupby(["school_name", "type"])

# find all the column values
students_per_school = grouped_school_df["student_name"].count()

# BUDGET
# Pull budget from original dataframe
budget_per_school = grouped_school_df["budget"].mean()
budget_per_student = budget_per_school / students_per_school

# MATH
average_math = grouped_school_df["math_score"].mean()
passed_math_count = math_passers_df.groupby(["school_name"]).count()["student_name"]
percentage_passed_math = (passed_math_count / students_per_school) * 100

# READING
average_reading = grouped_school_df["reading_score"].mean()
passed_reading_count = reading_passers_df.groupby(["school_name"]).count()["student_name"]
percentage_passed_reading = (passed_reading_count / students_per_school) * 100

# OVERALL
passed_both_count = math_and_reading_df.groupby(["school_name"]).count()["student_name"]
percentage_overall = (passed_both_count / students_per_school) * 100

# Create Data Frame
school_summary_df = pd.DataFrame({"Total Students": students_per_school, "Total School Budget": budget_per_school, "Per Student Budget": budget_per_student, "Average Math Score": average_math, "% Passed Math": percentage_passed_math, "Average Reading Score": average_reading, "% Passed Reading": percentage_passed_reading, "% Overall Passing": percentage_overall})

school_summary_df.head()

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passed Math,Average Reading Score,% Passed Reading,% Overall Passing
school_name,type,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,66.680064,81.033963,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,94.133477,83.975780,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,65.988471,81.158020,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,68.309602,80.746258,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,93.392371,83.816757,97.138965,90.599455

In [38]:
# Top Performing Schools (by % overall passing)

top_schools_df = school_summary_df.sort_values("% Overall Passing", ascending=False)
top_schools_df.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passed Math,Average Reading Score,% Passed Reading,% Overall Passing
school_name,type,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,94.133477,83.975780,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,93.272171,83.848930,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,93.392371,83.816757,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,93.867718,83.989488,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,94.594595,84.044699,95.945946,90.540541

In [39]:
# Bottom Performing Schools (by % overall passing)

bottom_schools_df = school_summary_df.sort_values("% Overall Passing", ascending=True)
bottom_schools_df.head(5)

,,Total Students,Total School Budget,Per Student Budget,Average Math Score,% Passed Math,Average Reading Score,% Passed Reading,% Overall Passing
school_name,type,,,,,,,,
Rodriguez High School,District,3999,2547363,637.0,76.842711,66.366592,80.744686,80.220055,52.988247
Figueroa High School,District,2949,1884411,639.0,76.711767,65.988471,81.158020,80.739234,53.204476
Huang High School,District,2917,1910635,655.0,76.629414,65.683922,81.182722,81.316421,53.513884
Hernandez High School,District,4635,3022020,652.0,77.289752,66.752967,80.934412,80.862999,53.527508
Johnson High School,District,4761,3094650,650.0,77.072464,66.057551,80.966394,81.222432,53.539172

In [26]:
# Math scores by grade (average score per grade)
# 9th grade data frame
ninth_graders_df = df.loc[df["grade"] == "9th"]
average_ninth_math = ninth_graders_df.groupby(["school_name"]).mean()["math_score"]

# 10th grade data frame
tenth_graders_df = df.loc[df["grade"] == "10th"]
average_tenth_math = tenth_graders_df.groupby(["school_name"]).mean()["math_score"]

# 11th grade data frame
eleventh_graders_df = df.loc[df["grade"] == "11th"]
average_eleventh_math = eleventh_graders_df.groupby(["school_name"]).mean()["math_score"]

# 12th grade data frame
twelvth_grader_df = df.loc[df["grade"] == "12th"]
average_twelvth_math = twelvth_grader_df.groupby(["school_name"]).mean()["math_score"]

#create the summary dataframe

grade_math_summary_df = pd.DataFrame({"9th": average_ninth_math, "10th": average_tenth_math, "11th": average_eleventh_math, "12th": average_twelvth_math})

grade_math_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [33]:
# Reading scores by grade

# 9th grade reading
average_ninth_read = ninth_graders_df.groupby(["school_name"]).mean()["reading_score"]

# 10th grade reading
average_tenth_read = tenth_graders_df.groupby(["school_name"]).mean()["reading_score"]

# 11th grade reading
average_eleventh_read = eleventh_graders_df.groupby(["school_name"]).mean()["reading_score"]

# 12th grade reading
average_twelvth_read = twelvth_grader_df.groupby(["school_name"]).mean()["reading_score"]

#create the summary dataframe

grade_reading_summary_df = pd.DataFrame({"9th": average_ninth_read, "10th": average_tenth_read, "11th": average_eleventh_read, "12th": average_twelvth_read})

grade_reading_summary_df

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [47]:
# Scores by school spending (average and % passing reading and math, overall passing %)
# range bins
bins = [0, 584, 629, 644, 675]

group_labels = ["<$584", "$585-629", "$630-644", "$645-675"]

# Slice the data and place it into bins
school_summary_df["budget group"] = pd.cut(school_summary_df["Per Student Budget"], bins, labels=group_labels)

schools_by_spend = school_summary_df
schools_by_spend = schools_by_spend.groupby("budget group")
schools_by_spend[["Average Math Score", "Average Reading Score", "% Passed Math", "% Passed Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
budget group,,,,,
<$584,83.455399,83.933814,93.460096,96.610877,90.369459
$585-629,81.899826,83.155286,87.133538,92.718205,81.418596
$630-644,78.518855,81.624473,73.484209,84.391793,62.857656
$645-675,76.997210,81.027843,66.164813,81.133951,53.526855

In [51]:
# Scores by school size
# range bins
bins = [0, 1000, 2000, 5000]

group_labels = ["<1000", "1000-2000", "2000-5000"]

# Slice the data and place it into bins
school_summary_df["school size"] = pd.cut(school_summary_df["Total Students"], bins, labels=group_labels)

schools_by_size = school_summary_df
schools_by_size = schools_by_size.groupby("school size")
schools_by_size[["Average Math Score", "Average Reading Score", "% Passed Math", "% Passed Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
school size,,,,,
<1000,83.821598,83.929843,93.550225,96.099437,89.883853
1000-2000,83.374684,83.864438,93.599695,96.790680,90.621535
2000-5000,77.746417,81.344493,69.963361,82.766634,58.286003

In [52]:
# Scores by school type

schools_by_type = school_summary_df
schools_by_type = schools_by_type.groupby("type")
schools_by_type[["Average Math Score", "Average Reading Score", "% Passed Math", "% Passed Reading", "% Overall Passing"]].mean()

,Average Math Score,Average Reading Score,% Passed Math,% Passed Reading,% Overall Passing
type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208